API_KEY=SAMPLE_KEY
DATABASE_URL=postgresql+psycopg://dbuser:dbpassword@db:5432/devdb
OPENAI_BASE_URL="http://model-runner.docker.internal/engines/v1" #wont use in production
OPENAI_MODEL_NAME="ai/smollm2:135M-Q4_0" 
OPENAI_API_KEY="notset"